*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

#time{
    font-size: 10rem;
    font-weight: 700;
}

h1{
    margin-bottom: 3rem;
    font-size: 3rem;
}
h2{
    margin-bottom: 0.5rem;
}

span:focus,h2:focus{
    outline: none;
}

#plan{
    border-bottom: 1px solid #fff;
}

/* 媒体查询 */
@media(max-width:700px){
    #time{
        font-size: 6rem;
    }
    h1{
        font-size: 2rem;
    }
}