:root{
    --red:#ff3838;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 后期修改Google fonts */
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
/* ::selection CSS伪元素应用于文档中被用户高亮的部分（比如使用鼠标或其他选择设备选中的部分）。 */
*::selection{
    background: var(--red);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    /* 设置滚动框的滚动行为 */
    scroll-behavior: smooth;
    /* 滚动容器顶部边缘的起点 */
    scroll-padding-top: 6rem;
}

body{
    background: #f7f7f7;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 2.5rem;
    font-weight: 700;
    color: #666;
}

header .logo i{
    margin-right:.5rem;
    color: var(--red);
    margin-right:.133333rem;
}

header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;    
    text-decoration: none;
}

header .navbar a:hover{
    color: var(--red);
}

#menu{
    font-size: 3rem;
    cursor: pointer;
    color:#666;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}

/* =========================================== */
section{
    padding: 2rem 9%;
}

.home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:1.5rem;
    min-height: 100vh;
    background: url('./images/home-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    flex: 1 1 40rem;
    padding-top: 6.5rem ;
}

.home .image{
    flex: 1 1 40rem;
}

.home .image img{
    width: 100%;
    padding: 1rem;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%,100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(3rem);
    }
}

.home .content h3{
    font-size: 5rem;
    color: #333;
}

.home .content p{
    font-size: 1.7rem;
    color: #666;
    color: 1rem;
}

.btn{
    display: inline-block;
    padding: 0.8rem 3rem;
    border: .2rem solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.btn::before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--red);
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before{
    width: 100%;
    left: 0;
}

.btn:hover{
    color: #fff;
}
/* ===================================== */
.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}

.heading span{
    color: var(--red);
}

.speciality .box-sontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.speciality .box-sontainer .box{
    flex: 1 1 40rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: 0.5rem;
}

.speciality .box-sontainer .box .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.speciality .box-sontainer .box .content{
    text-align: center;
    background: #fff;
    padding: 2rem;
}
.speciality .box-sontainer .box .content img{
    margin: 1.5rem 0;
}

.speciality .box-sontainer .box .content h3{
    font-size: 2.5rem;
    color: #333;
}

.speciality .box-sontainer .box .content p{
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
}
.speciality .box-sontainer .box:hover .image{
    top: 0;
}
.speciality .box-sontainer .box:hover .content{
    transform: translateY(100%);
}
/* ==================================================== */
.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
  
.popular .box-container .box{
    padding:2rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    text-align: center;
    flex:1 1 40rem;
    position: relative;
}
  
.popular .box-container .box img{
    height:25rem;
    object-fit: cover;
    width:100%;
    border-radius: .5rem;
}
.popular .box-container .box .price{
    position: absolute;
    top: 3rem;
    left: 3rem;
    background: var(--red);
    padding: .5rem 1rem;
    color: #fff;
    font-size: 2rem;
    border-radius: .5rem;
}
.popular .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding-top: 1rem;
    font-weight: 700;
}
.popular .box-container .box .starts{
    color: gold;
    font-size: 1.7rem;
    padding: 0.5rem 1rem;
}
/* ==================================================== */
.steps{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
}

.steps .box{
    flex:  1 1 25rem;
    padding: 1rem;
    text-align: center;
}

.steps .box img{
    border-radius: 50%;
    border: 1rem solid #fff;
    box-shadow: 0 1.5rem 1rem rgba(0,0,0,.1);
}

.steps .box h3{
    font-size: 2.3rem;
    color: #333;
    padding: 1rem 0;
}
/* ==================================================== */
.gallery .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.gallery .box-container .box{
    height: 35rem;
    flex: 1 1 40rem;
    border:.5rem solid rgba(0,0,0,.1);
    box-shadow: .5rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

.gallery .box-container .box img{
    width: 100%;
    height: 100%;
}
.gallery .box-container .box .content{
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.6);
    padding: 2rem;
    padding-top: 10rem; 
    text-align: center;
}
.gallery .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}
.gallery .box-container .box .content p{
    font-size: 1.7rem;
    color: #666;
    padding:1rem 0
}
.gallery .box-container .box:hover .content{
    transform: translateY(100%);
}
/* ==================================================== */
.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.review .box-container .box{
    text-align: center;
    padding: 2rem;
    border: 1rem solid #FFF;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: .5rem;
    flex: 1 1 30rem;
    background: #333;
    margin-top: 6rem;
}
.review .box-container .box img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
}
.review .box-container .box h3{
    font-size: 2.5rem;
    color: turquoise;
    padding: .5rem 0;
}
.review .box-container .box p{
    font-size: 1.7rem;
    color: deeppink;
    padding: 1rem 0;
    margin-top:.266667rem;
}
.review .box-container .box .stars{
    color: #ff3838;
}
/* ==================================================== */
.order .row{
    padding:2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background:#fff;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    border-radius: .5rem;
  }
  
  .order .row .image{
    flex:1 1 30rem;
  }
  
  .order .row .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
    border-radius: .5rem;
  }
  
  .order .row form{
    flex:1 1 50rem;
    padding:1rem;
  }
  
  .order .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .order .row form .inputBox input, .order .row form textarea{
    padding:1rem;
    margin:1rem 0;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    width:49%;
  }
  
  .order .row form textarea{
    width:100%;
    resize: none;
    height:15rem;
  }
  
  .order .row form .btn{
    background:none;
  }
  
  .order .row form .btn:hover{
    background:var(--red);
  }
/* ==================================================== */
.footer{
    background:#000;
    text-align: center;
  }
  
  .footer .share{
    display: flex;
    gap:1.5rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .footer .credit{
    padding:2.5rem 1rem;
    color:#fff;
    font-weight: normal;
    font-size: 2rem;
  }
  
  .footer .credit span{
    color:var(--red);
  }
/* ==================================================== */
/* 滚动按钮 */

#scroll-top{
    position: fixed;
    top:-120%;
    right:2rem;
    padding:.5rem 1.5rem;
    font-size: 4rem;
    background:var(--red);
    color:#fff;
    border-radius: .5rem;
    transition: 1s linear;
    z-index: 1000;
  }
  
  #scroll-top.active{
    top:calc(100% - 12rem)
  }

/* ==================================================== */
/* 加载部分 */
.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.loader-container h1{
    color: turquoise;
    font-size: 2.5rem;
    font-weight: 700;
}
.loader-container.fade-out{
    top: -120%;
}


/* ==================================================== */
/* media媒体查询 */
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    section{
        padding:2rem;
    }
}

@media(max-width:768px){
    #menu{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: 0.1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
 
    header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0,0,0,.1);
        border-left: 0.5rem solid var(--red);
        background: #fff;
    }
}

@media(max-width:400px){
    html{
        font-size: 50%;
    }
}