*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    color: #FFF;
    /* 可以隐藏滚动条 */
    overflow: hidden;
    font-size: 36px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:url('../images/5.jpg') center no-repeat ;
    background-size: cover;
    height: 100vh;
}

.animate{
    margin: 0;
    padding: 0;

    /* 设置文本背景 */
    background: url('../images/4.jpg')  no-repeat;
    /* 裁剪 在文字范围内*/
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    animation: move 90s linear infinite;
    -webkit-animation: move 50s linear infinite;
}

/* 设置文本背景图的position动画 */
@keyframes move{
    0%{
        background-position: 0 30%;
    }
    100%{
        background-position: 100% 50%;
    }
}