/* css变量设置 */
:root{
	--success-color:#2ecc71;
	--error-color:#e74c3c;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	min-height: 100vh;
	background-color: #f9fafb;
	font-family: "arial rounded mt bold";
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0,0,0,.8);
	width: 400px;
	display: flex;
	flex-direction: column;
}

.container .form{
	padding: 30px 40px;
}

.container h2{
	text-align: center;
	margin: 0 0 20px;
}

.container .form-control{
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

label{
	color: #777;
	display: block;
	margin-bottom: 5px;
	color: #333333;
	font-weight: 700;
}

input{
	width: 100%;
	border: 2px solid #f0f0f0;
	padding: 10px;
	display: block;
	font-size: 14px;
	font-weight: 500;
}

/* 聚焦边框颜色发生变化 */
input:focus{
	border-color:#777;
	outline: 0;
}
/* 后期JS判断内容是否为空 然后添加类 */
/* 不填写内容边框变为红色 */
.form-control.error input{
	border-color: var(--error-color);
}
/* 填写内容边框变为绿色 */
.form-control.success input{
	border-color:var(--success-color);
}

.form-control small{
	color: var(--error-color);
	position: absolute;
	left: 0;
	bottom: 0;
	font-weight: 700;
	/* 有占位 视觉上消失 类似于设置 opacity:0; */
	visibility: hidden;
	
	/* 彻底消失 不会占位 */
	/* display: none; */
}

/* 当输入内容错误的时候 显示错误提示 */
.form-control.error small{
	visibility: visible;
}

.form button{
	cursor: pointer;
	background-color: #3498db;
	border: 2px solid #3498db;
	border-radius: 4px;
	color: white;
	display: block;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}