:root{
    --clock-color:rgb(3, 171, 238);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Pirata One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../Images/01.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover; 
}

h1{
    color: #FFF;
    font-size: 80px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.5);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25px;
}

.number{
    position: relative;
    width: 170px;
    height: 290px;
    margin: 20px;
}

.piece{
    background-color: var(--clock-color);
    border: 2px solid transparent;
    border-right-color:#aaa ;
    border-bottom-color:#aaa ;
    width: 50px;
    height: 50px;
    transform: scale(0);
    position: absolute;
}

.piece.show{
    transform: scale(1);
    transition: transform 0.2s linear;
}

.piece:nth-of-type(1){
    top: 0;
    left: 0;
}
.piece:nth-of-type(2){
    top: 0;
    left: 60px;
}
.piece:nth-of-type(3){
    top: 0;
    left: 120px;
}
.piece:nth-of-type(4){
    top: 60px;
    left: 0;
}
.piece:nth-of-type(5){
    top: 60px;
    left: 120px;
}
.piece:nth-of-type(6){
    top: 120px;
    left: 0;
}
.piece:nth-of-type(7){
    top: 120px;
    left: 60px;
}
.piece:nth-of-type(8){
    top: 120px;
    left: 120px;
}
.piece:nth-of-type(9){
    top: 180px;
    left: 0;
}
.piece:nth-of-type(10){
    top: 180px;
    left: 120px;
}
.piece:nth-of-type(11){
    top: 240px;
    left: 0;
}
.piece:nth-of-type(12){
    top: 240px;
    left: 60px;
}
.piece:nth-of-type(13){
    top: 240px;
    left: 120px;
}

.one{
    width: 100px;
    height: 100px;
    background-color: var(--clock-color);
    transform: translate(50%,-80%);
    border-radius: 50%;
}
.two{
    width: 100px;
    height: 100px;
    background-color: var(--clock-color);
    transform: translate(-50%,80%);
    border-radius: 50%;
}

@media (max-width:800px){
    .container{
        transform: scale(0.4);
    }
}   


@media (max-width:550px){
    .container{
        transform: scale(0.2);
    }
}   