*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: #333; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container{
    width: 350px;
    height: 350px;
    position: relative;
    border: 1px solid #ccc;
    margin-left: 100px;
}

.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: rgba(243,219,3,0.3);
    cursor: move;
    display: none;
}

.big{
    position: absolute;
    top: 0;
    left: 450px;
    width: 500px;
    height: 500px;
    display: none;
    /* background: tomato; */
    border: 1px solid #e12224;
    overflow: hidden;
}

.big img{
    position: absolute;
    top: 0;
    left: 0;
}