*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    margin-top: -100px;
    /* 2s 延迟1s 执行1次 结尾停留 */
    animation: show 2s ease-out 0s 1 forwards;
}

@keyframes show{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

h1{
    position: relative;
    font-size: 100px;
    color: #544e58;
    opacity: 0;
    animation: show_name 2s ease-in-out 0.5s 1 forwards;
}

@keyframes show_name{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

h1::before{
    position: absolute;
    top: 0;
    left: 0;
    /* 这里必须是unicode编码 */
    /* 注意:转换完毕去掉\后面的U */
    content: '\5f20\6587\6770';
    width: 100%;
    height: 100%;
    /* 透明色 方便背景色显示 */
    color: transparent;
    background-image: linear-gradient(to right,#2980B9,#6DD5FA,#FFFFFF,gray);
    /* 背景图片的颜色是否延伸到 */
    background-clip: text;
    -webkit-background-clip:text;

    /* 制作一个斜矩形遮罩 */
    clip-path: polygon(-20% 0% ,0% 0%,-10% 100%,-30% 100%);
    /* 动画 */
    animation:  light 2s 2s ease-in-out infinite;
}

@keyframes light{
    0%{clip-path: polygon(-20% 0% ,0% 0%,-10% 100%,-30% 100%);}
    50%{clip-path: polygon(100% 0% ,120% 0%,110% 100%,90% 100%);}
    100%{clip-path: polygon(-20% 0% ,0% 0%,-10% 100%,-30% 100%);}
}
