@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --black:#272D3B;
  --red:#ED176F;
  --coral:#F7817F;
  --gradient:linear-gradient(90deg, var(--red), var(--coral));
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}


/* 被选中之后显示的背景色 */
*::selection{
    background-color: var(--red);
    columns: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--black);
    z-index: 999;
    padding:2rem 9%;
    border-bottom: .1rem solid #fff3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    font-weight: 700;
    color: #fff;
    font-size: 2.5rem;
}
header #menu-bar{
    font-weight: 700;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* 媒体查询 */
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem 4%;
    }
}
@media(max-width:768px){
    header #menu-bar{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--black);
        border-top: 1px solid #fff3;
        padding: 1rem 2rem;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    header .navbar a{
        display: block;
        margin: 1.5rem 0;
        padding: 1rem;
        background: var(--gradient);
        text-align: center;
        border-radius: 0.5rem;
        font-weight: 700;
        color: #fff;
    }
    header .navbar a:hover{
        color:var(--black)
    }
}
@media(max-width:400px){
    html{
        font-size: ;
    }
}
