:root{
    --mod-color-1:#2d6b5f;
    --mod-color-2:#72e3a6;
    --mod-color-3:#dff4c7;
    --mod-color-4:#edbf98;
    --mod-color-5:#ea3d36;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 0;
}

/* 通用标签设置 */
h2{
    margin-bottom: 0;
}

h4{
    font-weight: 700;
    margin: 5px 0 20px;
}

p{
    margin: 5px 0;
}

/* ====================== */
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
    text-align: center;
}
/* ====================== */
/* 心情图标 */
.modes_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mood{
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    color: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 20px;
    padding: 0;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    text-align: center;
}
.mood_1{
    color: var(--mod-color-1);
}
.mood_2{
    color: var(--mod-color-2);
}
.mood_3{
    color: var(--mod-color-3);
}
.mood_4{
    color: var(--mod-color-4);
}
.mood_5{
    color: var(--mod-color-5);
}

/* 聚焦 */
.mood:focus{
    outline: 0;
}
/* 点击 */
.mood:active{
    transform: scale(0.9);
}

/* 后期添加selected类名 */
/* 被选中 */
.mood.selected{
    /* 设置当前颜色 */
    background-color: currentColor;
}
.mood.selected i{
    color: #FFF;
}
/* ====================== */
/* 右侧随机和清除按钮 */
.action_btn{
    border-radius: 10px 0 0 10px;
    border: none;
    color: #FFF;
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    position: fixed;
    top: 40px;
    right: 0;
}

.randomize{
    background-color: var(--mod-color-2);
}

.clear{
    background-color: #888;
    top: 80px;
}

.action_btn:focus{
    outline: none;
}

.action_btn:active{
    transform: scale(0.9);
}
/* ====================== */
/* 日历 */
.calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* 设置自动换行 */
    flex-wrap: wrap;
}
.months{
    padding: 10px;
    /* 保证一行只能放下三个月份 */
    width: 33%;
}
.months h3{
    margin: 5px 0;
}

.week_days_container,
.days_container{
    display: flex;
    flex-wrap: wrap;
}

.week_days,
.days{
    font-size: 14px;
    margin-bottom: 5px;
    width: calc(100% / 7);
    height: calc(100% / 7);
    text-align: center;
}

.days .circle{
    background-color: #888;
    border-radius: 50%;
    color: #FFF;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.days .circle:hover{
    transform: scale(1.1);
}

/* ====================== */
/* 媒体查询 */
@media(max-width:756px){
    .months{
        width: 50%;
    }
}

@media(max-width:480px){
    .months{
        width: 100%;
    }
}
/* ====================== */