*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
}

a{
    color: #000;
    text-decoration: none;
}

/* 标题部分 */
.main-header{
    height: 55vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-header h1{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    line-height: 1.2;
    color: #b50d10;
}
.main-header p{
    font-size: 2rem;
}

/* 油画展览部分 */
.container{
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
}
.container .card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    background-color: #f1f1f1;
    margin-bottom: 2rem;
}
.container img{
    width: 100%;
    height: 400px;
}

.container .card div{
 padding: 2rem;   
}
.container .card h3{
    margin-bottom: 2rem;
}
.container .card p{ 
    margin-bottom: 2rem;
}
.container .card .btn{
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 0.8rem 1.8rem;
    font-weight: 700;
    cursor: pointer;
} 
.container .card .btn:hover{
    opacity: 0.8;
}

/* 偶数部分 图片显示在右侧 */
.card:nth-child(even) img{
    order: 2;
}

/* 媒体查询 */
@media(max-width:600px){
  .container .card{
        display: block;
    }
}