*{
    box-sizing: border-box;
}
#bag{
    width: 200px;
    height: 500px;
    background: url('./img/bag.png') center no-repeat;
    background-size: 80%;
    margin: 0 auto;
}

#bag.burst{
    width: 200px;
    height: 500px;
    background: url('./img/bag-burst.png') center no-repeat;
    background-size: 80%;
    margin: 0 auto;
}

#health{
    width: 200px;
    border: 0 solid #000;
    margin: 0 auto;
    outline: 0;
}

#health div{
    height: 20px;
    background-color: crimson;
}


#controls {
    width: 120px;
    margin: 0 auto;
}